<h1>Test <%= @test_passage.test.title %> finished!</h1>

<h2>
  Correct answers: <%= colored_percent(@test_passage) %>%
  <%= test_complete_message(@test_passage) %>
</h2>

<p><%= link_to 'Back to tests', tests_path %></p>
