<% if @test_passage.current_question %>
<%= render "progress_bar" %>
<%= render "test_passage" %>
<% else %>
<h1>К сожалению данный тест не содержит вопросов </h1>
<%= link_to "Go back", tests_path(@test) %>
<% end %>