<div class="row mx-0">
  <div class="container mt-5">
    <% if @test_passage.current_question %>
      <%= render "progress_bar" %>
      <%= render "test_passage" %>
    <% else %>
      <%= render "error_question" %>
    <% end %>
  </div>
</div>
