<footer class="footer-lower mb-auto py-3 border-top bg-light">
  <div class="container ">
    <div class="col-12 pt-3">
      <div class="d-flex justify-content-between">
        <%= link_to t(".feedback"), feedback_message_path, class: "float-left" %>
        <p> <%= t('main.name') %> </p>
        <%= github_link("antoshindanil", "test-guru") %>
        <%= link_to t("main.thinknetica"), "http://www.thinknetica.com", class: "float-right" %>
      </div>
    </div>
  </div>
</footer>
