<% @test.questions.each do |question| %>
  <tr>
    <td> <%=  question.body %> </td>
    <td> <%= link_to t("buttons.show"), admin_question_path(question) %> </td>
    <td> <%= link_to t("buttons.edit"), edit_admin_question_path(question) %> </td>
    <td> <%= link_to t("buttons.delete"),
      admin_question_path(question),
      method: :delete,
      data: { confirm: t(".sure") }
      %> </td>
  </tr>
<% end %>
