<div class="card">
  <div class="card-body">
    <%= form_with(url: feedback_send_message_path, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :message_title, t(".body") %>
        <%= form.text_area :message, id: :message_title, rows: 7, cols: 60, class: "form-control" %>
        <%= form.submit t('buttons.send'), class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
</div>
