<div class="row justify-content-center my-5 mx-0">
  <div class="container">
    <div class="col col-md-12">
      <h1 class="mb-3"> <%= t(".header") %> </h1>
      <%= render 'form' %>
      <div class="mx-autos mt-4">
        <%= link_to t("buttons.back"), tests_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
